@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&family=Bitcount+Prop+Double+Ink:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-albert: "Albert Sans", sans-serif;
  --font-bitcount: "Bitcount Prop Double Ink", system-ui;
}

@plugin "tailwindcss-motion";
@plugin "tailwindcss-intersect";

/* animation */

@theme {
  --animate-slide-up: slide-up 12s linear infinite;
  @keyframes slide-up {
    0%, 10% {
      transform: translateY(0%);
    }
    
    15%, 25% {
      transform: translateY(-110%);
    }
    
    30%, 40% {
      transform: translateY(-210%);
    }
    
    45%, 55% {
      transform: translateY(-310%);
    }
    
    60%, 70% {
      transform: translateY(-400%);
    }

  }

  --animate-in: in .5s ease;
  @keyframes in {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0%);
    }
  }

   --animate-typing: typing 3s infinite alternate;
  @keyframes typing {
    0%, 10% {
      width: 0%;
    }
    70%, 100% {
      width: 100%;
    }
  }
}